.topbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

/* .topLeft{
    flex:1;
}

.topRight{
    flex:4;
} */

.levelUser{
    margin-left: 10px;
}