$radius: 5px;
$padding: 10px;

.btn-primary {
    background-color: #00549e;
    padding: $padding;
    color: white;
    border-radius: $radius;
    &:hover {
        background-color: #02325c;
    }
    &:active {
        transform: translateY(2px);
    }
}
.btn-secondary {
    background-color: white;
    padding: $padding;
    color: black;
    border-radius: $radius;
    border: 1px solid #6d7580;
    &:hover {
        background-color: #dddddd;
    }
    &:active {
        transform: translateY(2px);
    }
}
